
/**{border:red 1px solid;}*/
body,html{

    height:100%;
}
.barTable{
    /*position:relative;
    width:100%;
    margin:0 auto;*/
    height:2em;
}
.timeBarContent{
    /*position:absolute;
    top:0.5em;
    margin:0px;*/
    display:inline-block;
}
.timeLeft{
    /*min-width:10px;*/
    float:left;
    width:6em;
}
.timeBarRight .timeLeft{
    width:4em;
}
.timeBarLeft{
    /*right:31%;*/
    width:70%;
}
.timeBarRight{
    width:29%;
    /*left:71%;*/
}
.progressBar {
    background-color: #f3f3f3;
    border: 1px solid;
    width: auto;
    height:1.2em;
    display:block;
    border-radius: 9px;
    /*width:100%;
    position: absolute;*/
}
.timeBarLeft .progressBar{
    margin-left:6em;
}
.timeBarRight .progressBar{
    margin-left:4em;
}
.red .ui-widget-header{
    background:red;
}
.tableDiv {
	border-collapse: collapse;
	background-color: white;
	border-radius: 10px;
    margin-left: 4em;
    position:relative;
    height: 100%;
}

.outDiv{
    box-sizing: border-box;
    padding:20px;
    height: 100%;
}
.content{
    margin-top:-2em;
    padding-top:2em;
    height: 100%;
    box-sizing: border-box;

}
.disabled{
    opacity: 0.5;
}
.aButton{
    margin:20px 2px;
    height:2.9em;
}
.myButtonDiv {
   float:left;
    width:3em;
    height:3em;
}

.myButtonDiv .aButton{
    display:block;
}

.gridTable{
    margin: 0 .5em 0 0;
    height:99%;
}
.gridCell {
	/*
	border: solid #ccc 1px;
	
	height: 36px;
	width: 36px;
	*/
    margin:10px 0;
    display:inline;
	cursor: pointer;
	padding: 2px;
}
.gridRow{
    margin-bottom:10px;
}
.gridCell img,
.gridCell .imgCell{
	height: 2em;
	width: 2em;
	/*
	border: solid #fff 3px;
	
	  filter: alpha(opacity=80);
	  -moz-opacity: 0.8;
	  opacity: 0.8;
	  */
}
.imgCell{
    display:inline;
}

/*.ui-progressbar.timeBar{
	
	width:65%;
	height:15px;
	display:inline;
}
.ui-progressbar.awardBar{
	
	width:10%;
	height:15px;
	display:block;
}*/
/*.tableDiv{
	position:relative;
}*/
.underlay{
	background: gray;
    width:100%;
    height:100%;
    position: absolute;
    top:0px;
    left:0px;
	z-index:100;
}
.imgCell {
	border-radius: 11px;
	/*border-top: 1px solid #575456;*/
	background: #7b7f82;
	background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc),
		to(#7b7f82));
	background: -webkit-linear-gradient(top, #fcfcfc, #7b7f82);
	background: -moz-linear-gradient(top, #fcfcfc, #7b7f82);
	background: -ms-linear-gradient(top, #fcfcfc, #7b7f82);
	background: -o-linear-gradient(top, #fcfcfc, #7b7f82);
	padding: 3px;
	-webkit-border-radius: 11px;
	-moz-border-radius: 11px;
	border-radius: 11px;
	-webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	-moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
	color: darkgreen; /*purple;*/
	font-size: 36px;
	font-family: \534E\6587\7425\73C0; /* �������� */ /* Georgia, serif;*/
	text-decoration: none;
	vertical-align: middle;
}    

.imgCell:hover {
	border-top-color: #686969;
	background: #686969;
	color: #ccc;
}
/*
.imgCell:active {
	border-top-color: #1b435e;
	background: #1b435e;
}
*/
.selected {
	filter: Gray;
	border: 1px solid;
	padding: 2px;
	border-color: yellow;
	background-color: #1b435e;
}

.highlight {
	background: yellow;
}
.my-icon{
    background-repeat:space;
}
.my-ui-icon-run-01{
	background-image: url(../svg/run.svg);
}
.my-ui-icon-hint-01{
	background-image: url(../svg/info.svg);
}

.my-ui-icon-word-01{
	background-image: url(../svg/word.svg);
}

.my-ui-icon-refresh-01{
	background-image: url(../svg/refresh.svg);
}
.my-ui-icon-lock-01{
	background-image:url(../svg/lock.svg);
}
.my-ui-icon-unlock-01{
	background-image:url(../svg/unlock.svg);
}

.hidden{
    display:none;
}


/*icon end */