.nav{
    width:20px;
    position:fixed;
    left:2px;
    overflow:hidden;
    background-color:green;
    top:20%;
    /*top:5%;bottom:5%;margin:auto 0;*/
    text-align:right;
}
.nav:hover{
    width:auto;
    overflow:visible;
}
.navInner{
    position:relative;
    right:0px;
    overflow:hidden;
    /*width:20%;
    margin_left:-80%;*/
}

/*.navInner::after{
    content:'';
    clear:both;
    visibility:hidden;
}*/
/*.nav:hover .navInner{
    margin-left:0;
    width:auto;
}*/
.navInner a{
    text-decoration:none;
}
.menu_node>label, .menu_page{
    display:block;
    list-style:circle;
    border-bottom:1px solid red;
    padding:4px;
}
.menu_node{    
    float:left;
    clear:both;
}
.menu_node>label,.node_body{ 
    float:left;
}
.navInner>.menu_node>label{
    display:block;
    float:right;
}
.navInner:hover >.menu_node>label,
.navInner>.menu_node>.node_body{
    display:none;
}
.node_body >.menu_node>.node_body{
    display:none;
}
.menu_node:hover > .node_body{
    display: block;
}

.menu_node:last-child,
.menu_page:last-child{
    border-bottom:0px;
}

